/* Reset CSS */
@import 'fonts.css';
html,body,* {
    -webkit-text-size-adjust:100% !important;
    -moz-text-size-adjust:100% !important;
    -ms-text-size-adjust:100% !important; 
}
body{
    font-family: arial;
}
body h1,body h2,body h3,body h4,body h5,body h6,body p{
    margin: 0;
    padding: 0;
    line-height: inherit;
}
body sub,body sup{    
    vertical-align: top !important;
    line-height: normal !important;
    font-size: 60% !important;
    color: #fff !important;
}
sup.small{
    color: #fff !important;
    line-height: 53px !important;
}
#SweepsArea .right sup.small {
	line-height: 42px !important;
}
body .col-lg-1,body .col-lg-10,body .col-lg-11,body .col-lg-12,body .col-lg-2,body .col-lg-3,body .col-lg-4,body .col-lg-5,body .col-lg-6,body .col-lg-7,body .col-lg-8,body .col-lg-9,body .col-md-1,body .col-md-10,body .col-md-11,body .col-md-12,body .col-md-2,body .col-md-3,body .col-md-4,body .col-md-5,body .col-md-6,body .col-md-7,body .col-md-8,body .col-md-9,body .col-sm-1,body .col-sm-10,body .col-sm-11,body .col-sm-12,body .col-sm-2,body .col-sm-3,body .col-sm-4,body .col-sm-5,body .col-sm-6,body .col-sm-7,body .col-sm-8,body .col-sm-9,body .col-xs-1, body .col-xs-10,body .col-xs-11,body .col-xs-12,body .col-xs-2,body .col-xs-3,body .col-xs-4,body .col-xs-5,body .col-xs-6,body .col-xs-7,body .col-xs-8,body .col-xs-9,body .container{
    padding-left: 0;
    padding-right: 0;
}
body .row {
    margin-left: 0;
    margin-right: 0;
}
*{
	margin:0;
	padding:0;
	border:0;
	box-sizing: border-box;
	vertical-align: top;
}
#home_pg_iframe{
    margin-top: 10px;
}
#home_pg_ZipCode #operator-signup .ownersHdr {
    color: #fae621;
    font-family: Arial;
    font-size: 32px;
    font-weight: 700;
    padding-top: 10px;
    vertical-align: baseline;
    margin-bottom: 5px;
    text-transform: uppercase;
}

#home_pg_ZipCode .searchLocation .ownersCopy a.btnSignUp{
    margin-top:10px;
    margin-bottom: 15px;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
img {
    vertical-align: middle;
    max-width: 100%;
}
::-webkit-input-placeholder {
   color: inherit;
   opacity: 1;
   filter:alpha(opacity=100);
}
:-moz-placeholder { /* Firefox 18- */
   color: inherit;
   opacity: 1;
   filter:alpha(opacity=100);
}
::-moz-placeholder {  /* Firefox 19+ */
   color: inherit;
   opacity: 1;
   filter:alpha(opacity=100);
}
:-ms-input-placeholder {
   color: inherit;
   opacity: 1;
   filter:alpha(opacity=100);
}
.clear {
    clear: both;
}
#bwsInnerContainer {
    background: #131617 url("../img/BurgerRoute_bg_image.png") repeat-x scroll center top !important;
    background-size: cover !important;
	width: 100% !important;
}
/* Banner CSS */
#burgerRoute_headerStatic {
    margin: 0 auto;
    text-align: center;   
}
#burgerRoute_headerStatic img {
	 border-bottom: 10px solid #fae621;
}
#burgerRoute_headerStatic h1{
    position: absolute;
    z-index: -1;
    margin: auto;
    left: 0;
    right: 0;
}
/* HOME PAGE CSS */
#home_pg {
    margin: 0 auto;
    max-width: 1389px;
    position: relative;
}
#home_pg #main-content {
    text-align: center;
}
img.resimg {
	max-width: 100%;
}
.isMobile {
    display: none;
}
/* Find Burger Section */
#bwsInnerContainer.container{
	max-width: inherit;
	padding:0;
}
.container .container {
    color: #ffffff;
    margin: auto;
    max-width: 982px;
    width: 100%;
    text-align: center;
}
.index .container .container{
    /*max-width:964px*/
	max-width:984px;
}
#home_pg_ZipCode {
    background: rgba(0, 0, 0, 0) url("../img/top-bg.png") repeat scroll 0 0;
    margin: 54px 0 50px 0;
    padding: 20px 0 12px;
    width: 100%;
    border-radius: 8px;
	min-height: 240px;
}
#home_pg #main-content .container h2 {
    font-family: "sahararegular",Arial;
    letter-spacing: 1px;
    font-size: 67px;
    font-weight: 500;
    line-height: 67px;
    margin: 0;
    padding: 0;
}
#home_pg #main-content .container h2 > sup {
    vertical-align: top !important;
    font-size: 15px !important;
    line-height: 37px !important;
}
#home_pg #main-content .container h2 > sup.SupHp {
    line-height: 30px !important;
}
#home_pg #main-content .container h3 .burge {
    color: #fae621;
    word-wrap: break-word;
    word-break: break-word;
}
#home_pg_ZipCode .searchLocation {
    text-align: center;
    padding: 21px 0 0 0;
}
#home_pg_ZipCode .searchLocation span {
    font-family: Arial;
    font-size: 25px;
    text-transform: uppercase;
    vertical-align: middle;
    display: inline-block;
    font-weight: 700;
}
.searchLocation .txtZipCode,.sl-container-control .sl-main-container-control .sl-zip-lookup input {
    background: url(../img/dot_bg.png) repeat;
    opacity: 1;
    width: 274px;
    height: 44px;
    max-width: 100%;
    display: inline-block;
    border: none;
    vertical-align: middle;
    border: none;
    padding: 0px 0 0 15px;
    letter-spacing: .5px;
    margin: 0 5px 0 5px;
    font-size: 20px;
    font-family: Arial;
    color: #ffffff;
    font-weight: normal;
}
.searchLocation .txtZipCode, .sl-container-control .sl-main-container-control .sl-zip-lookup input[type=text]{
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;    
}
.errZipCode{
	color: red;
}
.location-box{
    float: left;
	position: relative;	
	width: 100%;
}
.index .location-box{
    float: none;
}
#home_pg_ZipCode .searchLocation span.text-error,.sl-main-container-control .sl-zip-lookup span.text-error{
	position: absolute;
	top: 46px;
	left: 5px;
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
	display: inline-block;
	text-align: center;
	color: #fff;
}
body .sl-main-container-control .sl-zip-lookup span.text-error{
    position: absolute;
    top: 46px;
    left: 0;
}
#home_pg_ZipCode .searchLocation .btnZipCode, .sl-main-container-control .sl-zip-lookup .location-box .btnZipCode {
    font-family: Arial;
    font-size: 25px;
    color: #fae621;
    border: 3px solid #fae621;
    height: 42px;
    width: 56px;
    box-sizing: border-box;
    display: inline-block;
    background: none;
    vertical-align: middle;
    text-align: center;
    line-height: 28px;
    padding: 0 0 8px 0;
    font-weight: 600;
    margin: 2px 34px 0px 0px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}
#home_pg_ZipCode .searchLocation .btnSelectCity {
	margin-left: 48%;
	background: url(../img/go-btn.png) repeat;
	width: 55px; height: 55px;
	line-height:0;
	font-size:0;
}
body .sl-main-container-control .sl-zip-lookup .location-box .btnZipCode {
    margin: 4px;    
	position: absolute; top: 0; right: 5px;
}
#home_pg_ZipCode a {
	display: block;
	margin:11px auto 0;
	line-height: 37px;
    color: #cdcdcd;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: .5px;
    max-width: 168px;
}
#home_pg_ZipCode #operator-signup {
    padding-top: 0;
    font-family: Arial;
    font-size: 19px;
}
#home_pg_ZipCode .searchLocation span {
    font-family: Arial;
    font-size: 25px;
    text-transform: uppercase;
    vertical-align: middle;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 1px;
}
#home_pg_ZipCode #operator-signup span.owners {
    vertical-align: baseline;
    font-size: 18px;
}
#home_pg_ZipCode .searchLocation .btnSignUp {
    font-family: Arial;
    font-size: 25px;
    color: #fae621;
    border: 3px solid #fae621;
    height: 44px;
    width: 116px;
    box-sizing: border-box;
    display: inline-block;
    background: none;
    vertical-align: middle;
    text-align: center;
    line-height: 28px;
    padding: 2px 0 8px 0;
    font-weight: 600;
}
#home_pg_ZipCode #operator-signup a {
    text-decoration: none;
}

/* Burger Route Contest Section */

#home_pg #main-content .container h3 {
    font-family: 'sahararegular', Arial;
    padding: 17px 0 10px 0;
    margin: 0px;
    font-size: 70px;
    line-height: 70px;
    font-weight: 500;
    letter-spacing: 2.5px;
}
#home_pg_SweepsArea .left, #home_pg_SweepsArea .right {
    width: 470px;
    background: url(../img/square-bg.png) repeat;
    min-height: 461px;
    max-width: 100%;
	border-radius: 8px; 
}
/* Left Section */
#home_pg_SweepsArea .left {
    float: left;
}
#home_pg_SweepsArea h4 {
    font-family: 'sahararegular', Arial;
    font-size: 61px;
    line-height: 56px;
    padding: 15px 0 14px 0;
    font-weight: 500;
    letter-spacing: 1px;
}
.index #home_pg_SweepsArea .ways-to-enter p{
    padding: 25px 0px 15px 0;
    letter-spacing: 0.5px;
	color:#fae621;
	font-size: 35px;
}

#home_pg_SweepsArea p > sup {
    vertical-align: top !important;
    font-size: 12px !important;
    line-height: 10px !important;
}
#home_pg_SweepsArea .ways-to-enter {
    max-width: 450px;
    margin: 0 auto 0;
}
#home_pg_SweepsArea p, #locationPg .location-bot .content p {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    font-family: Arial, serif;
    letter-spacing: 0px;	
	margin-bottom: 8px;
	width: 80%;
	margin: 0 auto;
}
#home_pg_SweepsArea .ways-to-enter p {
    line-height: 24px;
    padding: 15px 65px 12px 76px;
    letter-spacing: 1px;
}
span.ways-to-enter-text-img {
	max-width: 100%;
    display: block;
    width: 235px;
    height: 113px;
    margin:8px auto;
    background: url(../img/hastag-img.png) no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
}
.share-btns {
    max-width: inherit;
    margin: 14px 0 0;
    text-align: center;
    /*background: url(../img/home_pg_SweepsArea_OR_text_bg.png) no-repeat;
    background-position: 48% 23%;*/
}
.share-btns img{
    display: block;
    margin: 0 auto 13px;
}
/* Inner pages social CSS */
.left-text{
    display: inline;
}
.right-text{
    display: none;
}
.prizes .share-btns .home-share-btn {
    margin: 0 7px;
}
.gallery .share-btns .home-share-btn, .location .share-btns .home-share-btn {
    margin: 0 7px;
}
.prizes .share-btns{
    background-position: 48% 48%;
    margin: 20px 0 48px;
}
.gallery .share-btns{
    margin: 6px 0 0;
    background-position: 48% 36%;
    background-size: 31px;
}
.location .share-btns span,.prizes .share-btns span{
    margin: 0 3%;
    vertical-align: middle;
}
.gallery .share-btns span{
    margin: 0 5%;
    vertical-align: middle;
}
.location .share-btns img{
    display: inline-block;
    max-width: 87px;
    margin: 0 auto 0;
}
.prizes .share-btns img{
    display: inline-block;
    max-width: 96px;
    margin: 0 auto 0;
}
.location .share-btns .home-share-btn a,.gallery .share-btns .home-share-btn a,.prizes .share-btns .home-share-btn a{
    vertical-align: middle;
}
.gallery .share-btns .home-share-btn a,.prizes .share-btns .home-share-btn a{
    font-size: 20px;
}
.prizes span.ways-to-enter-text-img{
    width: 228px;
    height: 130px;
    margin: 2px auto 1px;
}
.gallery .share-btns img{
    display: inline-block;
    max-width: 63px;
    margin: 0 auto 14px;
}
/* END Inner pages social CSS */

.share-btns .home-share-btn {
    display: inline-block;
    margin: 0 4%;    
}
.share-btns .home-share-btn a{
    white-space: nowrap;
	display: inline;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 1px;
}
#home_pg_SweepsArea .ways-to-enter .ways-to-enter-center {
    width: 36px;
    height: 284px;
    background: url(../img/home_pg_SweepsArea_OR_text_bg.png) no-repeat;
}

/* Right Section */
#home_pg_SweepsArea .right {
    float: right;
}
.index #home_pg_SweepsArea .right span, #locationPg .location-bot .content p span,.programBurgerRoute p span {
	color: #fae621;
}
.index #home_pg_SweepsArea .right a, #locationPg .location-bot .content a {
	display: block;
	margin:5px auto;
    color: #8bc6eb;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: .5px;
    max-width: 168px;
}
#home_pg_SweepsArea h4 sup.supOver {
    font-size: 58% !important;
    line-height: normal !important;    
    vertical-align: top !important;
}
#home_pg_SweepsArea .right .prize-btn {
    padding: 17px 0 13px 0;
    max-width: 192px;
    margin: 0 auto;
}
.index #home_pg_SweepsArea .right .prize-btn{
    padding: 14px 0 13px 0;
}
a.cta, a.cta:hover, a.cta:focus {
    display: block;
    border: 4px solid #fae621;
    color: #fae621;
    font-family: Arial,sans-serif;
    font-size: 18px;
    line-height: 37px;
    height: 40px;
    font-weight: 600;
    letter-spacing: .5px;
    text-decoration: none;
    cursor: pointer;
    -webkit-box-sizing: content-box;
}
#home_pg_SweepsArea .right .prize-btn a.cta, #home_pg_OlapicWidget .view-gallery-btn a.cta {
    box-sizing: content-box;
}
a.rules-btn {
    color: #cdcdcd;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    text-decoration: none;
    border-bottom:1px solid #cdcdcd;
    font-family: Arial, serif;
    margin:0 19px 0 13px;
}
a#fr {
    margin-left: 0;
}
/* Gallery CSS */
iframe{
	overflow:hidden;
	border:0;
}
iframe::-webkit-scrollbar {  
    display: none;
}  
#home_pg_OlapicWidget {
    background: rgba(0, 0, 0, 0) url("../img/dot_bg.png") repeat scroll 0 0;
    margin-top: 20px;
    padding-bottom: 10px;
}
#home_pg #main-content .container #home_pg_OlapicWidget h3 {
    font-size: 46px;
    line-height: 46px;
    padding: 10px 0 0;
    letter-spacing: .5px;
}
#home_pg_OlapicWidget .view-gallery-btn {
    margin: 0 auto;
    max-width: 165px;
    padding: 10px 0 0;
}
.gallery-iframe{
	min-height: 197px;
	width: 100%;
}
.gallery .gallery-iframe{
    min-height: 1550px;
}
/* Ask For Section */

.ask-for {
    font-family: "sahararegular",Arial;
    font-weight: 500;
    max-width: 100%;
    padding: 38px 0 20px 0;
    position: relative;
    text-align: center;
}
.index .ask-for{
    padding: 19px 0 8px 0;    
}
.ask-for-img {
    margin: 0 auto;
}
.ask-for .ask-for-text {
    color: #a0a0a0;
    font-family: Arial,serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    margin: 26px auto 8px;
    letter-spacing: .2px;
    text-align: center;
    padding: 0 10px;
    max-width: 1300px;
}
.index .ask-for .ask-for-text{
    margin: 20px auto 13px;
}
.ask-for .ask-for-text a {
    color: #a0a0a0;
    text-decoration: underline;
}

/* MAPS PAGE CSS */

#mapsPg {
    margin: 0 auto;
    max-width: 1389px;
}
#mapsPg .hdr {
    padding: 26px 0 31px;
    text-align: center;
    letter-spacing: .1px;
}
#mapsPg .hdr h2 {
    color: #ffffff;
    font-family: "sahararegular",Arial;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    margin: 0;
    padding: 0;
}
#map.mapsPg {
    border-bottom: 10px solid #fae621;
    max-width: 100%;
}
#sl-container {
    position: relative;
}
.mapControl {
    margin: 0 auto;
    max-width: 1246px;
    padding-bottom: 40px;
    width: 100%;
}
.location-data {
    float: left;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    margin: 0 auto;
    width: 54%;
    text-transform: uppercase;
}
.location-data .location-near {
    max-width: 100%;
    float: left;
}
.location-data .location-near span {
    color: #fae621;
    display: inline-block;
    height: 40px;
    line-height: 50px;
    padding-left: 0px;
}
.location-data .location-near .zipCode {
    color: #fff;
}
.sl-container-control {
    width: 45%;
    float: right;
}
.sl-container-control .sl-main-container-control {
    margin: 0;
    width: 100%;
}
.sl-container-control .sl-main-container-control .sl-zip-lookup {
    color: #ffffff;
    float: right;
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    width: 100%;
    text-transform: uppercase;
}
.sl-container-control .sl-main-container-control .sl-zip-lookup .sl-label {
    height: 40px;
    line-height: 50px;
}
.sl-container-control .sl-main-container-control .sl-zip-lookup .sl-label, .sl-container-control .sl-main-container-control .sl-zip-lookup input, .sl-container-control .sl-main-container-control .sl-zip-lookup a {
    float: left;
    margin-right: 12px;
}
body .sl-container-control .sl-main-container-control .sl-zip-lookup input{
    margin-top: -2px;
    height: 47px;
    text-align: center;
    width: 218px;
    padding: 0;
    margin-left: 0px;
}
body .sl-container-control .sl-main-container-control .sl-zip-lookup .sl-label{
   margin-right: 10px;
   text-align: right;
   float: left;
   width:45%;
}

/* Map CSS */
.wrapMap {
    height: 569px;
    position: relative;
	max-width: 1389px;
    width: 100%;	
	margin: 0 auto;
}
.sl-map-canvas {
    height: 610px;
    width: 100%;
    border-top: 10px solid #fae621;
    border-bottom: 10px solid #fae621;
}
.wrapMap #map{
    width: 100%;
    height: 100%;
}
.gm-style-iw {
    margin-top: 11px;
   width: 275px !important;
   top: 0 !important;
   left: 0 !important;
    box-sizing: border-box;
    padding: 28px 26px 26px;
    color: #231e80;
    font-size: 15px;
    line-height: 20px;
    border-radius:0;
    background: #fff;
    box-shadow: 0px 3px 6px -3px #333;
}
.gm-style-iw *{
    width: 100% !important;
}
.gm-style-iw a,.gm-style-iw .text-here{
    font-size: 15px;
    color: #231e80;
    text-decoration: none;  
}
.gm-style-iw a:hover{
    text-decoration: underline;
}
.gm-style-iw b{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 22px;
    display: block;
    margin-bottom: 4px;
    letter-spacing: 1.2px;
}
.gm-style-iw em{
    display: block;
}
.gm-style-iw + div {
    background: rgba(0, 0, 0, 0) url("../img/sl-overlay-close-btn.jpg") no-repeat scroll left top / contain ;
    opacity: 1 !important;
    right: 8px !important;
    top: 15px !important;
}
.gm-style-iw + div img{
    display: none;
}

/* Carousel CSS */
.carousel.mapsPg {
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 100%;
    border-bottom: 10px solid #fae621;
}
.carousel {
    position: relative;
}
.carousel.mapsPg #owl-restaurant {
    margin: 0 auto;
    max-width: 1246px;
    padding: 0;
}
.carousel.mapsPg .owl-carousel .owl-stage-outer {
    background: rgba(0, 0, 0, 0) url("../img/lineCarousel_bg.jpg") repeat-y scroll center top;
}
.sl-store-info {
    border-top: 1px solid #e1e1e1;
    padding-bottom: 30px;
    padding-top: 30px;
}
.sl-store-info:first-child{
    border-top: 0;
}
.sl-store-info:first-child .sl-store-name{
    min-height: 84px;
}
.sl-store-info:last-child{
    padding-bottom: 0;
}
.imgLocation {
    box-sizing: content-box;
    float: left;
    max-width: 145px;
    padding-left: 80px;
    padding-right: 32px;
}
.imgLocation img {
    border: 4px solid #231e80;
}
.even .imgLocation{
    padding-left: 63px;
    padding-right: 41px;
}
.textItem {
    color: #231e80;
    float: left;
    font-family: Arial,sans-serif;
    max-width: 366px;
}
.textItem a, .textItem a:visited, .textItem a:link {
    color: #231e80;
    text-decoration: none;
}
.sl-store-name {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 25px;
    letter-spacing: .5px;
    min-height: 90px;
    padding-bottom: 10px;
}
.sl-store-info h4 {
    margin: 0;
    padding: 0;
}
.sl-store-address {
    max-width: 100%;
}
.sl-store-address, .sl-store-cityStateZip {
    font-size: 15px;
    line-height: 18px;
}
.sl-store-address{
    margin: 4px 0 3px;
    letter-spacing: .3px;
}
.carousel.mapsPg .owl-controls {
    padding: 0;
    text-align: center;
}
.owl-theme .owl-nav {
    margin-top: 0;
}
.carousel.mapsPg .owl-carousel .owl-controls .owl-nav .owl-prev {
    cursor: default;
}
.carousel.mapsPg .owl-controls .owl-prev, .carousel.mapsPg .owl-controls .owl-prev:hover {
    background: rgba(0, 0, 0, 0) url("../img/arrowLeft.png") no-repeat scroll left top;
    display: inline-block;
    height: 43px;
    left: 0;
    opacity: 0.3;
    filter:alpha(opacity=30);
    position: absolute;
    text-indent: -9999px;
    top: 280px;
    width: 30px;
}
.carousel.mapsPg .owl-controls .owl-next, .carousel.mapsPg .owl-controls .owl-next:hover {
    background: rgba(0, 0, 0, 0) url("../img/arrowRight.png") no-repeat scroll right top;
    display: inline-block;
    height: 43px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 280px;
    width: 30px;
}
.carousel.mapsPg .owl-controls .owl-dots {
    display: none !important;
}

/* Location page CSS */

#locationPg{
    margin: 0 auto;
	max-width: 1389px;
	width: 100%;
}
.location-top-row-center{
    max-width: 1389px;
    margin: 0 auto;
}
.location-top-row {
    padding-top: 36px;    
    border-bottom: 10px solid #fae621;
}
#locationPg .location-top-row {
    background: #ffffff none repeat scroll 0 0;
    min-height: 484px;
}
.location-top-row-col-left {
    box-sizing: border-box;
    float: left;
    max-width: 100%;
    padding-left: 130px;
    width: 62.6%;
}
.location-top-row-col-left-img {
    float: left;
    max-width: 145px;
    width: 100%;
}
.product_img {
    border: 4px solid #231e80;
    box-sizing: border-box;
    height: 145px;
    width: 145px;
}
#locationPg .location-top-row .location-top-row-col-left .location-top-row-col-left-img .product_img {
    max-height: 144px;
}
#locationPg .location-top-row .location-top-row-col-left .location-top-row-col-left-img .product_img img {
    max-width: 137px;
}
#locationPg .location-top-row .location-top-row-col-left .location-top-row-col-left-img .Location-Title {
    background-image: url("../img/Location_bg_top.png");
    min-height: 200px;
    text-align: center;
}
.Location-Title {
    background-repeat: no-repeat;
    height: 200px;
    width: 145px;
}
#locationPg .location-top-row .location-top-row-col-left .location-top-row-col-left-img .Location-Title {
    text-align: center;
}
#locationPg .location-top-row .location-top-row-col-left .location-top-row-col-left-img .Location-Title p {
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px 0 15px;
    line-height: 19px;
}
#locationPg .location-top-row .location-top-row-col-left .location-top-row-col-left-img .Location-Title .social-top .twitter, #locationPg .location-top-row .location-top-row-col-left .location-top-row-col-left-img .Location-Title .social-top .facebook {
    float: left;
}
#locationPg .location-top-row .location-top-row-col-left .location-top-row-col-left-img .Location-Title .social-top .twitter {
    padding-left: 17px;
}
#locationPg .location-top-row .location-top-row-col-left .location-top-row-col-left-img .Location-Title .social-top .facebook {
    padding-left: 7px;
}
.location-top-row-col-left-sortinfo {
    box-sizing: border-box;
    float: none;
    padding: 0 20px 0 175px;
    width: 100%;
}
#locationPg .location-top-row .location-top-row-col-left .location-top-row-col-left-sortinfo h3 {
    color: #231e80;
    font-family: Arial;
    font-size: 50px;
    font-weight: 700;
    margin: 4px 0 17px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hasHttp{
    margin: 17px 0 0 0;
    display: table;
}
#locationPg .location-top-row .location-top-row-col-left .location-top-row-col-left-sortinfo p {
    color: #231e80;
    font-family: Arial;
    font-size: 25px;
    font-weight: 700;
}
.location-top-row-col-right {
    float: right;
    max-width: 100%;
    width: 37.4%;
}
.location-top-row-col-right #single-map {
    border: 4px solid #231e80;
    height: 402px;
    width: 449px;
}

#locationPg .location-bot {
    min-height: 482px;
    text-align: center;
}
#locationPg .location-bot .content {
    background-image: url("../img/square-bg.png");
    background-size: cover;
    color: #ffffff;
    margin: 40px auto 0;
	width: 470px;
    max-width: 100%;
    min-height: 482px;
    padding-bottom: 22px;
    padding-top: 0;
	border-radius: 8px;
}
.location .ask-for{
    padding: 33px 0 13px 0;
}
.location .ask-for .ask-for-text{
    margin: 22px auto 12px;
}
#locationPg .location-top-row-col-left-sortinfo a {
    color: #231e80;
    text-decoration: none;
}
#locationPg .location-bot .content h2 {
    font-family: "sahararegular",Arial;
    font-size: 61px;
	line-height: 56px;
    font-weight: 500;
    margin-bottom: 8px;
    margin-top: 0;
    padding-top: 16px;
    letter-spacing: 1.7px;
}
#locationPg .location-bot .content .legal {
    margin: 20px auto 10px;
    max-width: 280px;
}
#locationPg .location-bot .content .social {
    margin: 21px auto 20px;
    max-width: 140px;
}

#locationPg .location-bot .content .social .twitter_bot {
    float: left;
}
#locationPg .location-bot .content .social .instagran_bot {
    float: left;
    padding-left: 12px;
}
#locationPg .location-bot .content .link {
    margin-top: 10px;
    text-align: center;
}
#locationPg .location-bot .content .link a, #locationPg .location-bot .content .link a:hover {
    color: #cdcdcd;
    font-size: 16px;
    font-weight: 700;
}
.mapWrap {
    position: relative;
}
.btnDirections {
    background: rgba(0, 0, 0, 0) url("../img/btnDirections.jpg") no-repeat scroll 0 0;
    bottom: 0;
    height: 33px;
    left: 0;
    position: absolute;
    text-indent: -9999px;
    width: 168px;
    z-index: 10;
}

/* Gallery CSS */
#GalleryPg {
    margin: 0 auto;
    max-width: 1389px;
}
#main-content, #locationPg {
	padding-bottom: 80px;
}
#GalleryPg #main-content {
    text-align: center;
}
#GalleryPg #main-content .containerGallery {
    color: #ffffff;
    margin: auto;
    max-width: 991px;
    width: 100%;
}
.olapic-wall-widget {
    font-family: Arial,Helvetica,sans-serif;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.olapic-wall-header,.olapic-wall-header .olapic-top .olapic-cover {
    float: left;
    width: 100%;
}
.olapic-wall-header .olapic-top {
    width: 100%;
}
#GalleryPg_Map {
    background: rgba(0, 0, 0, 0) url("../img/top-bg.png") repeat scroll 0 0;
    margin-top: 40px;   
    padding: 30px 0 20px 0;
    width: 100%;
	border-radius: 8px;
}
#GalleryPg #main-content .containerGallery h2 {
    font-family: "sahararegular",Arial;
    font-size: 60px;
    font-weight: 500;
    line-height: 46px;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}
#GalleryPg #main-content .containerGallery p {
    font-size: 20px;    
    margin: 18px auto 20px auto;
    letter-spacing: .05px;
    font-weight: bold;
	width: 75%;
}
#GalleryPg #main-content .containerGallery p span {
    color: #fae621;
}
#GalleryPg_Map .social {
    margin: 14px auto 22px;
    max-width: 140px;
}
.gallery_line{
    /*background: url(../img/Gallery_dot_line.png) repeat-x;*/
    max-width: 90%;
    margin: 0 auto;
    height: 7px;
	border-top: 3px solid #fff;
}
#GalleryPg_Map .social .twitter {
    float: left;
}
#GalleryPg_Map .social .instagram {
    float: left;
    padding-left: 12px;
}
#GalleryPg_Map .find_location {
    padding: 16px 0 7px;
    text-align: center;
}
#GalleryPg #main-content #GalleryPg_Map .find_location p {
    display: inline-block;
    font-family: Arial;
    font-size: 25px;
    margin-top: 0;
    padding-right: 10px;
    vertical-align: middle;
    margin-bottom: 0;
    line-height: normal;
    letter-spacing: 0.5px;
    font-weight: bold;
}
#GalleryPg_Map .find_location .cta {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-sizing: border-box;
    color: #fae621;
    display: inline-block;
    font-size: 25px;
    height: 42px;
    line-height: 30px;
    margin: -5px 62px 0px 0;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 56px;
}
#GalleryPg #GalleryPg_Content h3 {
    font-family: "sahararegular",Arial;
    font-size: 47px;
    font-weight: 500;
    margin: 0;
    letter-spacing: .3px;
    padding: 27px 0 0;
}
#GalleryPg #GalleryPg_Content h3 span {
    color: #fae621;
    font-family: "sahararegular",Arial;
    font-size: 51px;
    font-weight: 500;
}
.gallery .ask-for .ask-for-text{
    margin: 17px auto 5px;
}
#single-map .gm-style-iw + div{
    display: none !important;
}
#single-map .gm-style-iw{
    width: 200px !important;
    padding: 0;
    margin: 128px -90px 0 0;
    background: none;
    box-shadow: none;
    left: auto !important;
    right: 0 !important;
}
#single-map .gm-style-iw b{
    text-transform: none;
    font-size: 15px;
    margin-bottom: 0;
    line-height: normal;
}
#single-map .gm-style-iw .text-here{
    color: #890b01;
    font-weight: bold;
    text-shadow: 0 0 5px #fff;
    line-height: normal;
}

/* Prizes page CSS*/
#home_pg #main-content .containerPrizes {
    color: #ffffff;
    margin: auto;
    max-width: 964px;
    width: 100%;
}
#home_pg_ZipCode.disCover, .runner-up-prizes, .official-rules {
    background: url("../img/top-bg.png") repeat scroll 0 0;    
    margin: 41px 0 0 0;
    width: 100%;
    padding: 30px 0;
	border-radius: 8px;
}
.runner-up-prizes {padding:0;}
.runner-up-prizes .runner-up-bg{
	background: rgba(0, 0, 0, 0) url("../img/runner-up-prize-img.png") no-repeat 40px 25px;
	padding: 30px 0;
}
#home_pg_SweepsArea {
	margin-top: 30px;
}
#home_pg #main-content .containerPrizes h2, .runner-up-prizes h2 {
    font-family: "sahararegular",Arial;
    font-size: 67px;
    font-weight: 500;
    line-height: 61px;
    margin: 0 auto;
    padding: 0 0 20px 0;
    letter-spacing: 2px;	
	width: 58%;
	border-bottom: 3px solid #fff;
}
.runner-up-prizes h2 {
	border-bottom: 0 !important;
}
.official-rules p {
	font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: .3px;
	width: 92%;
}
.official-rules span {
	font-size: 23px;
	color: #fae621;
}
.disCover p, .runner-up-prizes p {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin: 20px auto 0 auto;
    text-align: center;
    letter-spacing: .3px;
	color: #fae621;
	width: 70%;
}
.runner-up-prizes p {
	width: 40%;
	margin-top: 0;
}
#main-content .sweeps .left {
    width: 100%;
}
.prizes #home_pg_SweepsArea .left {
    float: left;
}
.prizes #home_pg_SweepsArea .left, .prizes #home_pg_SweepsArea .right {
    background: rgba(0, 0, 0, 0) url("../img/top-bg.png") repeat scroll 0 0;
    min-height: 270px;
    padding-bottom: 17px; 
}
.prizes #home_pg_SweepsArea h4 {
    font-family: "sahararegular",Arial;
    font-size: 61px;
    font-weight: 500;
    line-height: 61px;
    padding: 17px 0 15px;
    letter-spacing: 1.5px;
}
.prizes #home_pg_SweepsArea p {
    font-family: Arial,serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}
.prizes #home_pg_SweepsArea span {color: #fae621;}
.prizes #home_pg_SweepsArea p > sup {
    font-size: 12px !important;
    line-height: 23px !important;
    vertical-align: top !important;
    position: relative !important;
    top: -0.5em !important;
}
#main-content .sweeps .ways-to-enter {
    max-width: 100%;
    margin: 1px auto 0;
}

#main-content .sweeps .ways-to-enter-left {
    width: auto;
    margin: 0 auto;
}
.prizes #home_pg_SweepsArea .ways-to-enter p {
    font-size: 18px;
    line-height: 24px;
    padding: 8px 10px 0;
    font-weight: 700;
    text-align: center;
}
.prizes #home_pg_SweepsArea .ways-to-enter .ways-to-enter-left span.ways-to-enter-left-img {
    background: rgba(0, 0, 0, 0) url("../img/home_pg_SweepsArea_share_contest_img.png") no-repeat scroll 0 0;
    display: block;
    height: 86px;
    width: 208px;
}
.prizes #home_pg_SweepsArea .ways-to-enter .ways-to-enter-left .share-btns {
    margin: 25px auto;
    background-size: 55px;
}
.sweeps .share-btns .btnshare {
    display: inherit;
    float: left;
    height: auto;
    margin: 0;
    padding: 0 5px;
    width: auto;
}
#main-content .sweeps .rules {
    float: left;
    width: 100%;
}
#main-content .sweeps .rules a {
    margin: 0 8px;
    color: #cdcdcd;
    font-family: Arial,serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: underline;
    letter-spacing: .2px;
}
#home_pg #main-content .containerPrizes #SweepsArea h3 {
    font-family: "sahararegular",Arial;
    font-size: 72px;
    font-weight: 500;
    line-height: 72px;
    margin: 0;
    padding: 15px 0 22px;
    letter-spacing: 2.5px;
}
.prizes #home_pg #main-content .containerPrizes #SweepsArea h3{
    padding: 26px 0 22px;
}
.prizes .gallery_line{
    width: 22%;
    display: inline-block;
    margin-top: 33px;
}
span.desktop.gallery_line:first-child {
    margin-right: 17px;
}
span.desktop.gallery_line:last-child {
    margin-left: 17px;
}

#SweepsArea .left, #SweepsArea .right {
    background: rgba(0, 0, 0, 0) url("../img/square-bg.png") repeat scroll 0 0;
    min-height: 465px;
    padding-bottom: 0;
    width: 470px;
    max-width: 100%;
	border-radius: 8px;
}
#SweepsArea .left {
    float: left;
}
#SweepsArea .right {
    float: right;
}
#SweepsArea h4 {
    font-family: "sahararegular",Arial;
    font-size: 62px;
    font-weight: 500;
    line-height: 62px;
    padding: 9px 0 14px;
    letter-spacing: 1px;
}
#SweepsArea p {
    font-family: Arial,serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
    letter-spacing: .5px;
    margin-left: 9px;
	color:#fae621;
	margin-top: 10px;
}
#SweepsArea .right p {
    padding-bottom: 15px;;
}
#SweepsArea .left .ways-to-enter {
    margin: -15px auto 0;
}
#SweepsArea .ways-to-enter span.ways-to-enter-left-img {
    background: rgba(0, 0, 0, 0) url("../img/table-single.png") no-repeat scroll center;
    display: block;
    height: 197px;
    margin: 90px auto 0 auto;
    width: 471px;
    max-width: 100%;
}
#SweepsArea p.text-bottom {
    color: #cdcdcd;
    font-size: 14px;
    padding: 0;
}
#SweepsArea .left p.text-bottom {
    margin-top: 11px;
    margin-left: 0;
}
#SweepsArea .ways-to-enter span.ways-to-enter-right-img {
    background: rgba(0, 0, 0, 0) url("../img/heaphone_img-single.png") no-repeat scroll center;
    display: block;
    height: 121px;
    margin: 33px auto 0 auto;
}
#SweepsArea .right p.text-bottom {
    margin-top: 8px;
}
.prizes .ask-for{
    padding: 25px 0 20px 0;
    margin: 0 auto 0;
}
.prizes .ask-for .ask-for-text{
    margin: 23px auto 19px;
}

/* Select City dropdown style */
#home_pg_ZipCode .searchLocation .dropdown {max-width:376px; margin: 20px auto 0 auto; position: relative;}
#home_pg_ZipCode .searchLocation .dropdown dt {position:relative;}
#home_pg_ZipCode .searchLocation .dropdown dd, #home_pg_ZipCode .searchLocation .dropdown dt, #home_pg_ZipCode .searchLocation .dropdown ul { margin:0px; padding:0px; }
#home_pg_ZipCode .searchLocation .dropdown dd { position:relative; }
#home_pg_ZipCode .searchLocation .dropdown a, #home_pg_ZipCode .searchLocation .dropdown a:visited { color:#3b383b; font-size:25px; line-height:25px; text-decoration:none; outline:none; margin-top: 5px;}
#home_pg_ZipCode .searchLocation .dropdown a:visited{ text-align: left;}
#home_pg_ZipCode .searchLocation .dropdown a:hover { color:#5d4617;}
#home_pg_ZipCode .searchLocation .dropdown dt a:hover { color:#5d4617; border: 0;}
#home_pg_ZipCode .searchLocation .dropdown dt a {background:#6eb8e6 url("../img/arrow-down.png") no-repeat scroll right 30px center; display:block; z-index:5; padding-right:50px; border:0; border-radius: 6px; width:100%; max-width:376px; position:absolute; top: 0; left:0;}
#home_pg_ZipCode .searchLocation .dropdown dt a span {cursor:pointer; display:block; padding:11px 5px; color: #fff;}
#home_pg_ZipCode .searchLocation .dropdown dd ul { background:#fff; border:0; color:#3b383b; display:none; left:0; padding:15px 0 30px 0; position:absolute; top:52px; width:auto; min-width:376px; list-style:none; border-radius: 6px; border-top-left-radius: inherit; border-top-right-radius: inherit; margin-top: -4px;}
#home_pg_ZipCode .searchLocation .dropdown span.value { display:none;}
#home_pg_ZipCode .searchLocation .dropdown dd ul li { padding:5px 5px 5px 40px; display:block; text-align: left; max-width:376px; color: #3b383b; font-size: 25px; cursor: pointer;}



/* Select City dropdown style */
#changeLocation {float:right; width: 52%;}
#changeLocation .searchLocation .dropdown { margin: 0 auto; position: relative;}

#changeLocation .searchLocation .dropdown dt {position:relative;}
#changeLocation .searchLocation .dropdown dd, #changeLocation .searchLocation .dropdown dt, #changeLocation .searchLocation .dropdown ul { margin:0px; padding:0px; }
#changeLocation .searchLocation .dropdown dd { position:relative; }
#changeLocation .searchLocation .dropdown a, #changeLocation .searchLocation .dropdown a:visited { color:#3b383b; font-size:20px; font-weight: normal; line-height:25px; text-decoration:none; outline:none; margin: 0;}
#changeLocation .searchLocation .dropdown a:visited{ text-align: left;}
#changeLocation .searchLocation .dropdown a:hover { color:#5d4617;}
#changeLocation .searchLocation .dropdown dt a:hover { color:#5d4617; border: 0;}

#changeLocation .searchLocation .dropdown dt a {background: url("../img/dot_bg.png") repeat scroll top left; display:block; z-index:5; padding:13px 10px; border:0; border-radius: 6px; width:100%; width:220px; position:absolute; top: 0; left:-5px;}

#changeLocation .searchLocation .dropdown dt a span {cursor:pointer; display:block; padding:0; color: #fff;}
#changeLocation .searchLocation .dropdown dd ul {z-index: 1; background:#fff; border:0; color:#3b383b; display:none; left:-5px; padding:5px 0 10px 0; position:absolute; top:52px; width:auto; width:220px; list-style:none; border-radius: 6px; border-top-left-radius: inherit; border-top-right-radius: inherit; margin-top: -4px;}
#changeLocation .searchLocation .dropdown span.value { display:none;}
#changeLocation .searchLocation .dropdown dd ul li { padding:5px 5px 5px 25px; display:block; text-align: left; width:220px; color: #3b383b; font-size: 15px; cursor: pointer; font-weight: bold;}
/*****************program page new section***************************/
#burgerRoute.programBurgerRoute {
    background: url("../img/top-bg.png") no-repeat scroll 0 0;    
	background-size:cover;
    margin: 41px 0 0 0;
    width: 100%;
    padding: 30px 0;
	border-radius: 8px;
}
#burgerRoute.programBurgerRoute h2{
	border-bottom:none !important;
}
#burgerRoute.programBurgerRoute p{
	width:404px;
	text-align:center;
	font-size:20px;
	margin:0 auto;
}
/*****************end of program page new section***************************/
footer {position: relative !important; }
.bws-footer {margin-top:0 !important;}
/*.container{width: 100% !important;}*/

/* RESPONSIVE CSS */
@media only screen and (max-device-width : 1024px){
    body .bws-header .bws-logo img {
        height: 53px;
        width: auto;
    }	
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .gallery .share-btns span {
        margin: 0 1%;
    }
    .gallery .share-btns {
        background-position: 47% 36%;
    }
    #GalleryPg #main-content .containerGallery p {
        font-size: 18px;
    }
    .prizes .share-btns .home-share-btn a {
        font-size: 14px;
    }
    #locationPg .location-top-row .location-top-row-col-left .location-top-row-col-left-sortinfo h3{
        font-size: 36px;
    }
    #locationPg .location-top-row .location-top-row-col-left .location-top-row-col-left-sortinfo p{
        font-size: 19px;
    }
    body .sl-container-control .sl-main-container-control .sl-zip-lookup input{
        width: 130px;
        font-size: 15px;
    }
    .location-data,.sl-container-control .sl-main-container-control .sl-zip-lookup{
        font-size: 14px;
    }
    .location-data{
        margin-left: 5px;
    }
    .textItem{
        width: 250px;
    }
    .sl-main-container-control .sl-zip-lookup .location-box .btnZipCode{
        width: 40px;
    }
    .carousel.mapsPg .owl-carousel .owl-stage-outer{
        background: none;
    }
    .location-top-row-col-left{
        padding-left: 10px;
        width: 58%;
    }
    .location-top-row-col-right{
        margin-right: 10px;
    }
    .location-top-row-col-right #single-map{
        max-width: 100%;
    }
    #GalleryPg #main-content .containerGallery h2{
        font-size: 48px;
    }
    #GalleryPg #GalleryPg_Content h3,#GalleryPg #GalleryPg_Content h3 span{
        font-size: 33px;
    }
    #home_pg #main-content .containerPrizes #SweepsArea h3{
        font-size: 47px;
    } 
    #changeLocation .searchLocation .dropdown a, #changeLocation .searchLocation .dropdown a:visited{
		font-size: 13px;
	}
	#changeLocation .searchLocation .dropdown dt a {width: 150px; padding:5px;}
	body .sl-main-container-control .sl-zip-lookup .location-box .btnZipCode  {border: 2px solid #fae621; padding: 2px 4px; margin: 2px; right: 10px; width: auto; font-size:13px; height:30px; line-height: 20px;;}	
	
}
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {	
	.sl-container-control .sl-main-container-control .sl-zip-lookup .sl-label, .location-data .location-near span {line-height:30px;}
	#changeLocation .searchLocation .dropdown dd ul li {font-size:12px; padding: 3px 5px; line-height: 20px; width: 150px;} 
	#changeLocation .searchLocation .dropdown dd ul {top: 35px; width: 150px;}
	.location-data {width: 50%;}
	.sl-container-control {width: 48%;}
	
}
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {	
	#changeLocation .searchLocation .dropdown dt a, #changeLocation .searchLocation .dropdown dd ul  {width: 200px;}
	#changeLocation .searchLocation .dropdown dd ul  { top: 36px;}
	#changeLocation .searchLocation .dropdown dd ul li {padding: 5px; width: 200px; font-size: 12px; line-height: 20px;}
	.sl-container-control .sl-main-container-control .sl-zip-lookup .sl-label, .location-data .location-near span {line-height: 36px;}
}

@media screen and (max-width:900px){
	img.resimg{
		width: 100%;
	}
	#home_pg_SweepsArea .left, #home_pg_SweepsArea .right {
	    width: 100%;
	    min-height: inherit;
		padding-bottom: 22px;
        padding-bottom: 14px;
	}
	#home_pg_SweepsArea .left, #home_pg_ZipCode {
	    margin-bottom: 25px;
	}
	#SweepsArea .left,#SweepsArea .right{
        width: 100%;
        float: none;
        margin: 0 0 20px;
    }
	.runner-up-prizes .runner-up-bg{
		background: rgba(0, 0, 0, 0) url("../img/runner-up-prize-img.png") no-repeat 2px 40px;
	}
	#home_pg_ZipCode .searchLocation .btnSelectCity {
		margin-left: 60%;
	}
}

@media screen and (max-width:767px){
	.isDesktop {
	    display: none;
	}
	.isMobile {
	    display: block;
	}
	#home_pg #main-content .container h2,#home_pg_ZipCode .searchLocation span,#home_pg_ZipCode a,#home_pg_SweepsArea .ways-to-enter p{
		letter-spacing:0;
	}
	#home_pg_ZipCode{
		margin-top: 24px;
		padding: 8px 0 4px;
		border-radius: inherit;
		min-height: 220px;
	}
	#home_pg_ZipCode .searchLocation{
		padding-top: 24px;
	}
	#home_pg_SweepsArea h4, #home_pg #main-content .container h2 {
	    font-size: 46px;
	    line-height: 46px;
	    text-align: center;
	}
	#home_pg_ZipCode .searchLocation .txtZipCode {
		width: 202px;
	    background: #9f9e9d;
	    font-size: 20px;
	    margin: 6px 10px 0 0;
    	letter-spacing: 0;
	}
    .index #home_pg_ZipCode .searchLocation .txtZipCode{
        text-align: center;
        padding-left: 0;
    }
	#home_pg_ZipCode .searchLocation span.text-error{
		top: 51px;
		left:0;
	}
	#home_pg #main-content .container h3{
		letter-spacing: 0;
		padding: 34px 0 12px 0;
	}
    .index #home_pg #main-content .container h3 {
        padding: 34px 0 16px 0;
    }
    .index #home_pg_SweepsArea h4 {
        padding: 9px 0 11px 0;
    }
    .index #home_pg_SweepsArea .right h4 {
        padding: 15px 0 12px 0;
        line-height: 43px;
    }
    .index #home_pg_SweepsArea .right p {
        padding-bottom: 10px;
    }
    .index #home_pg_SweepsArea .right .prize-btn {
        padding: 29px 0 18px 0;
    }
    .index .ask-for .ask-for-text {
        margin: 15px auto 38px;
    }
	#home_pg_SweepsArea h4{
		padding: 9px 0 11px 0;
	}
	#home_pg_ZipCode a{
		margin: 8px auto 0;
	}
    .index #home_pg_ZipCode a {
        margin: 8px auto 0;
    }
	#home_pg_ZipCode .searchLocation .btnZipCode{
		margin: 5px 0 0 0;
	}
	#home_pg #main-content .container #home_pg_OlapicWidget h3, #home_pg #main-content .container h3 {
	    font-size: 36px;
	    line-height: 36px;
	}
	#home_pg_SweepsArea h4, #home_pg #main-content .container h2 {
	    font-size: 46px;
	    line-height: 46px;
	    text-align: center;
	}
	#home_pg_SweepsArea h4, #home_pg #main-content .container h2 {
	    font-size: 46px;
	    line-height: 46px;
	    text-align: center;
	}
	#home_pg_SweepsArea .ways-to-enter{
		margin: 12px auto 0;
		max-width: 100%;
	}
    .index #home_pg_SweepsArea .ways-to-enter p{
        padding: 0;
		margin: 0 auto;
		width: 95%;
    }
    .share-btns{
        margin: 22px 0 0 0;
    }
	#home_pg_SweepsArea .ways-to-enter p{
		padding: 15px 5px;
		line-height: 21px;
	}
	span.ways-to-enter-text-img{
		margin: 0 auto;
        width: 240px;
        height: 130px;
	}
    .share-btns img{
        max-width: 68px;
        margin: 0 auto 9px;
    }
    .share-btns{
        background-size: 10%;
    }
	.share-btns .home-share-btn,.location .share-btns .home-share-btn,.prizes .share-btns .home-share-btn{
		margin: 0 7%;
        display: inline-block;
        float: none;
        padding: 0;
	}
    .gallery .share-btns{
        margin: 15px 0;
    }
    .gallery .share-btns .home-share-btn {
        margin: 0 3%;
    }
    .share-btns .home-share-btn a{
        font-size: 10px;
    }
    .left-text{
        display: none;
    }
    .right-text{
        display: inline;
    }
    .location .share-btns img,.gallery .share-btns img,.prizes .share-btns img{
        display: block;
        max-width: 70px;
        margin: 0 auto 3px;
    }
    .location .share-btns,.prizes .share-btns{
        margin: 20px 0 37px;
        background-position: 48% 34%;
    }
	#home_pg_SweepsArea h4 {
	    padding: 12px 0 14px 0;
	    letter-spacing: .5px;
	}
	#home_pg_SweepsArea .right p {
	    padding-bottom: 27px;
	}
	#home_pg_SweepsArea .right .prize-btn{
		padding: 28px 0 13px 0;
	}
	a.rules-btn ,a#fr{
		padding-bottom: 3px;
		font-size: 18px;
	    display: table;
	    width: auto;
	    margin: 0 auto 9px;
	}
    .index a.rules-btn,.location a.rules-btn{
        font-size: 16px;
    }
	#home_pg_OlapicWidget{
		margin-top: 23px;
	}
	#home_pg #main-content .container #home_pg_OlapicWidget h3{
		padding: 12px 0 2px;
    	letter-spacing: 0;
    	line-height: 37px;
	}
	.gallery-iframe{
		min-height: 281px;
	}
    .ask-for{
        padding: 21px 0 21px 3px;
    }
    .index .ask-for{
        padding: 18px 0 8px 3px;
    }
	.ask-for-img{
		max-width: 93%;
	}
	.ask-for .ask-for-text{
		max-width: 100%;
		letter-spacing: 0;
	    margin: 14px auto 41px;
	    padding: 0 22px;
        line-height: 19px;
	}
    #mapsPg .hdr{
        padding: 13px 13px 27px;
    }
    #mapsPg .hdr h2{
        font-size: 38px;
        line-height: 40px;
    }
    .location-data,.sl-container-control,.location-data .location-near span,.location-data .location-near,.sl-container-control .sl-main-container-control .sl-zip-lookup{
        text-align: center;
        float: none;
        max-width: inherit;
        width: 100%;
        display: block;
        height: auto;
        line-height: normal;
    }
    .sl-container-control .sl-main-container-control{
        margin-top: 21px;
    }
    body .sl-container-control .sl-main-container-control .sl-zip-lookup .sl-label{
        float: none;
        margin-right: 19px;
    }
    body .sl-container-control .sl-main-container-control .sl-zip-lookup input{
        float: none;
        margin-right: 5px;
        margin-top: 0;
    }
    body .sl-main-container-control .sl-zip-lookup .location-box .btnZipCode{
        margin:2px;        
    }
    .mapControl{
        padding-bottom: 37px;
		min-height: 220px;
    }
    .location-data .location-near b.isMobile{
        display: inline-block;
    }
    .location-data .location-near span.isDesktop{
        display: none;
    }
    .carousel.mapsPg .owl-controls .owl-prev, .carousel.mapsPg .owl-controls .owl-prev:hover{
        top: 12px;
        left:30px;
    }
    .carousel.mapsPg .owl-controls .owl-next, .carousel.mapsPg .owl-controls .owl-next:hover{
        top: 12px;
        right:30px;        
    }
    .carousel.mapsPg #owl-restaurant{
        padding: 0 0 19px;
    }
    .owl-carousel .owl-stage-outer{
        padding-top: 82px;
    }
    .carousel.mapsPg .owl-carousel .owl-stage-outer{
        background: none;
    }
    .imgLocation,.even .imgLocation{
        padding-left: 9px;
        padding-right: 11px;
    }
    .sl-store-name{
        font-size: 24px;
    }
    .textItem{
        max-width: 154px;
        overflow: hidden;
    }
    .sl-store-info:first-child .sl-store-name{
        min-height: 92px;
    }
    .sl-store-address, .sl-store-cityStateZip,.sl-store-info h4{
        font-size: 13px;
    }
    .sl-store-address {
       margin: 5px 0 0px;
    }
    .sl-store-name{
        min-height: 97px;
    }
    .sl-store-info{
        padding-bottom: 15px;
        padding-top: 27px;
    }
    .sl-store-info:first-child{
        padding-bottom: 21px;
    }
    .gm-style-iw b{
        margin-bottom:0;
        font-size:14px;
    }
    .gm-style-iw a,.gm-style-iw .text-here{
        font-size:12px;
    }
    .gm-style-iw{
        margin: 17px 0 0 4px;
        line-height: normal;
        padding: 18px 21px 19px;
        width: 202px !important;
    }
    .gm-style-iw + div{
        right: 12px !important;
        top: 22px !important;
        width: 10px !important;
    }
    .location-top-row-col-left,.location-top-row-col-right,.location-top-row-col-left-img,.location-top-row-col-left-sortinfo{
        max-width: inherit;
        width: 100%;
        float: none;
        padding: 0;
    }
    body .location-top-row-col-left{
        padding: 0 10px;
    }
    .location-top-row-col-right #single-map{
        max-width: 100%;
    }
    .product_img,.Location-Title{
        margin: 0 auto;
    }
    .location-top-row{
        padding-bottom: 23px;
        padding-top: 16px;
        border-bottom: 6px solid #fae621;
    }
    #locationPg .location-top-row .location-top-row-col-left .location-top-row-col-left-sortinfo p{
        font-size: 20px;
    }
    #locationPg .location-bot .content h2{
        font-size: 46px;
        padding-top: 14px;
        margin-bottom: 21px;
    }
    #locationPg .location-bot .content p{
        padding: 0 0px;
        margin-bottom: 10px;
    }
    .location span.ways-to-enter-text-img {
        width: 216px;
        height: 118px;
        margin: 0 auto 10px;
    }
    .prizes span.ways-to-enter-text-img{
        width: 216px;
        height: 118px;
        margin:0 auto 13px
    }
    .gaptext{
        line-height: 32px;
    }
    #locationPg .location-bot .content .social{
        margin: 28px auto 36px;
    }
    #locationPg .location-top-row .location-top-row-col-left .location-top-row-col-left-sortinfo h3{
        margin: 21px 0 10px;
    }
    .hasHttp{
        margin: 12px 0 0 0;
    }
    .location-top-row-col-right #single-map{
        margin: 32px 0 0 0;
        width: 100%;
        height: 287px;
    }
    .btnDirections{
        background-size: cover;
        height: 24px;
        width: 120px;
    }
    #locationPg .location-bot .content{
        margin: 26px auto 0;
        padding-bottom: 5px;
		border-radius: inherit;
    }
    #locationPg .location-bot .content .social .instagran_bot{
        padding-left: 14px;
    }
    .location .ask-for{
        padding: 19px 0 31px 0;
    }
    .location .ask-for .ask-for-text {
        margin: 30px auto 7px;
    }
    .location-box{
        float: none;
    }
    body .sl-main-container-control .sl-zip-lookup span.text-error,#home_pg_ZipCode .searchLocation span.text-error{
        display: block;
        margin: 5px auto 0;
        position: static;
        text-align: left;
        width: 89%;
    }
    body #home_pg_ZipCode .searchLocation span.text-error{
        width: 99%;        
    }
    .gap-footer{
        margin: 12px 0 0 0;
    }
    .ask-for .ask-for-text{
        padding: 0 20px;
    }
    #GalleryPg_Map{
        padding-top: 15px;
        margin-top: 20px;
        padding-bottom: 7px;
    }
    #GalleryPg #main-content .containerGallery h2{
        font-size: 39px;
        letter-spacing: 1px;
        line-height: normal;
    }
    #GalleryPg #main-content .containerGallery p,#GalleryPg #main-content .containerGallery p span{
        font-size: 14px;
        margin-top: 12px;
        line-height: 17px;
        letter-spacing: .5px;
		width: 90%;
    }
    .gallery .share-btns .home-share-btn a,.prizes .share-btns .home-share-btn a{
        font-size: 10px;
    }
    #GalleryPg_Map .social{
        margin: 32px auto 46px;
    }
    #GalleryPg_Map .find_location{
        padding-top: 23px;
    }
    #GalleryPg #main-content #GalleryPg_Map .find_location p{
        padding-right:0;
        line-height: normal;
    }
    #GalleryPg_Map .find_location .cta{
        margin: 10px 0 32px;
    }
    #GalleryPg #GalleryPg_Content h3{
        font-size: 33px;
        padding: 39px 0 15px;
    }
    #GalleryPg #GalleryPg_Content h3 span{
        font-size: 34px;
        line-height: 38px;
    }
    .gallery .ask-for .ask-for-text {
        margin: 35px auto 36px;
    }
    .gallery .gallery-iframe {
        min-height: 2850px;
    }
    #single-map .gm-style-iw{
        margin: 102px -83px 0 0;
    }
    #single-map .gm-style-iw b{
        margin-bottom: 2px;
        font-size: 12px;
        letter-spacing: 0;
    }
    #single-map .gm-style-iw .text-here{
        font-size: 11px;
        line-height: 11px;
    }
    #single-map .gm-style-iw .text-here em{
        line-height: 6px;
    }
    #SweepsArea .ways-to-enter span.ways-to-enter-left-img,#SweepsArea .ways-to-enter span.ways-to-enter-right-img{
        background-size: auto;
    }
    #SweepsArea .ways-to-enter span.ways-to-enter-left-img{
        height: 200px;
    }
    #SweepsArea .ways-to-enter span.ways-to-enter-right-img{
        height: 161px;        
    }
    #SweepsArea .left, #SweepsArea .right{
        min-height: inherit;
        margin-bottom: 23px;
        padding-bottom: 8px;
        float: none;
        width: 100%;
		border-radius: inherit;
    }
    #home_pg_ZipCode.disCover{
        margin-top: 22px;
        padding: 14px 0 19px;
        margin-bottom: 26px;
		border-radius: inherit;
    }
    #home_pg #main-content .containerPrizes h2{
        font-size: 46px;
        letter-spacing: 1px;
        line-height: 45px;
		width: 90%;
    }
    .disCover p, .runner-up-prizes p {
        padding: 0 15px;
        font-size: 18px;
        line-height: 26px;
        margin-top: 13px;
		width: 100%;
    }
	.runner-up-prizes .runner-up-bg {
		background: rgba(0, 0, 0, 0) url("../img/runner-up-prize-img.png") no-repeat center bottom;
		min-height: 400px;		
	}
	.runner-up-prizes { padding-bottom: 10px;}
	.runner-up-prizes p  {
		margin-top: 0;
	}
    .prizes #home_pg_SweepsArea h4 {
        padding: 9px 0 6px 0;
        letter-spacing: .5px;
        font-size: 52px;
    }
    .prizes #home_pg_SweepsArea p,.prizes #home_pg_SweepsArea .left p{
        line-height: 26px;
        font-size: 20px;
        margin: 0 auto;
		width: 90%;
    }
    .prizes #home_pg_SweepsArea .ways-to-enter p {
        padding: 4px 18px 0;
        line-height: 25px;
    }
    .ways-to-enter-left > img{
        max-width: 85%;
    }
    .ways-to-enter-left .share-btns img{
        max-width: 90%;
    }
    .prizes .ways-to-enter-left .share-btns img{
        max-width: 68px;
    }
    .prizes #home_pg_SweepsArea .ways-to-enter .ways-to-enter-left .share-btns{
        margin: 21px auto 38px;
        background-size: 31px;
    }
    #main-content .sweeps .rules a{
        display: block;
        margin: 0 8px 5px;
    }
    .prizes #home_pg_SweepsArea .left {
        margin-bottom: 3px;
        padding-bottom: 27px;
    }
    .prizes #home_pg #main-content .containerPrizes #SweepsArea h3{
        font-size: 57px;
        line-height: 57px;
        padding: 0 0 25px;
    }
    .prizes .gallery_line{
        display: none;
        padding: 4px 0 15px;
    }
    #SweepsArea h4{
        padding: 7px 0 15px;
        font-size: 55px;
		width: 95%;
		margin: 0 auto;
    }
    #SweepsArea .left .ways-to-enter {
        margin: 13px auto 0;
    }
    #SweepsArea .right h4{
        padding-bottom: 10px;
    }
    #SweepsArea .right p{
        margin: 0 22px 0 32px;
        line-height: 25px;
        padding-bottom: 10px;
    }  
    #SweepsArea .right p br{
        line-height: 32px;
    }
    #SweepsArea .right p.text-bottom {
        line-height: normal;
        margin-top: 20px;
    }
    .prizes .ask-for {
        padding: 0 0 13px 0;
    }
    .prizes .ask-for .ask-for-text {
        margin: 26px auto 19px;
    }
    .prizes #SweepsArea .right{
        padding-bottom: 13px;
    }
    .prizes #SweepsArea .right p{
        line-height: 25px;
        padding: 0 20px 15px;
		margin: 0 auto;
    }
    .prizes #SweepsArea .right p.text-bottom{
        margin-top: 11px;
    }
    #home_pg_SweepsArea .left p{
        font-size: 14px;
        margin: 5px auto;
        clear: both;
        line-height: normal;
    }
    sup.small{
        line-height: 42px !important;
    }
    #home_pg #main-content .container h2 > sup.SupHp {
        line-height: 20px !important;
    }
	#burgerRoute_headerStatic img {
		border-bottom: 6px solid #fae621;
	}
	#home_pg_SweepsArea .left, #home_pg_SweepsArea .right {
		border-radius: inherit;
	}
	#home_pg_ZipCode.disCover, .runner-up-prizes, .official-rules {
		border-radius: inherit;
	}
	#home_pg_ZipCode .searchLocation span {
		font-size: 18px;
	}
	#home_pg_ZipCode .searchLocation .dropdown {max-width: 90%; width: 90%;}
	#home_pg_ZipCode .searchLocation .dropdown dd ul, #home_pg_ZipCode .searchLocation .dropdown dt a {min-width: 240px; max-width: 240px;}
	#home_pg_ZipCode .searchLocation .dropdown dt a {background-position:right 15px center;}
	#home_pg_ZipCode .searchLocation .btnSelectCity {margin-left: 80%; background-size: cover; width:45px; height: 45px; margin-top: 6px;}
	#changeLocation {float: inherit; width: 90%;  margin: 0 auto;}
	#changeLocation .searchLocation .dropdown dd ul {top: 45px;}
	#changeLocation .searchLocation .dropdown a, #changeLocation .searchLocation .dropdown a:visited {line-height: 20px;}
	body .sl-container-control .sl-main-container-control .sl-zip-lookup .sl-label {width: 100%; display: block; text-align: center; margin-bottom:20px;}
}
@media screen and (max-width:767px)  and (orientation: landscape) {
    #GalleryPg_Map .find_location .cta {
        margin: 0px 0 0;
    }
    .share-btns {
        background-size: 7%;
    }
    .index #home_pg_SweepsArea .ways-to-enter p,#home_pg_SweepsArea p,#home_pg_SweepsArea .left p{
        font-size: 18px;
    }	
}
@media screen and (max-width:320px){
    .share-btns .home-share-btn,.location .share-btns .home-share-btn,.prizes .share-btns .home-share-btn{
        margin: 0 3%;
    }
    .gallery .share-btns .home-share-btn {
        margin: 0 2%;
    }
    .ask-for .ask-for-text{
        font-size: 13px;
    }
    #SweepsArea .ways-to-enter span.ways-to-enter-left-img{
        height: 143px;
    }    
    #SweepsArea .ways-to-enter span.ways-to-enter-right-img{
        height: 101px;        
    }
}
@media screen\0 {
    /* IE9+ CSS*/
    .share-btns .home-share-btn {
        margin: 0 4%;
    }
}
@media only screen and (min-width: 768px){
	.bws-footer {
		margin-top: 0;
	}
	.container {
		/*width: 100%;*/
	}
}
@media (min-width: 360px) and (max-width: 667px) { 
	#changeLocation {width: 81%;}	
}
@media (min-width: 360px) and (max-width: 667px) and (orientation: landscape) { 
	#changeLocation { width: 51%; }
	#home_pg_ZipCode .searchLocation .btnSelectCity {margin-left: 47%;}
	#home_pg_ZipCode .searchLocation .dropdown {width: 50%;}
}
	


