@font-face {
    font-family: 'sahararegular';
    src: url('../fonts/sahara-webfont.eot');
    src: url('../fonts/sahara-webfont.eot?#iefix') format('embedded-opentype'),         
         url('../fonts/sahara-webfont.woff') format('woff'),
         url('../fonts/sahara-webfont.ttf') format('truetype'),
         url('../fonts/sahara-webfont.svg#sahararegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@media only screen and (max-device-width : 1024px){
	@font-face {
	    font-family: 'sahararegular';
	    src: url('../fonts/sahara-webfont-mobile.eot');
	    src: url('../fonts/sahara-webfont-mobile.eot?#iefix') format('embedded-opentype'),	        
	         url('../fonts/sahara-webfont-mobile.woff') format('woff'),
	         url('../fonts/sahara-webfont-mobile.ttf') format('truetype'),
	         url('../fonts/sahara-webfont-mobile.svg#sahararegular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}
}